/* create_class.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}


.class_list_info{
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s;
    flex-grow: 1;
}
ul {
    list-style: none; 
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 900px;
    max-width: 900px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.checkbox_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.class_list_info {
    background-color: #a0b5fa;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1;
}

.delete_btn {
    color: #a0b5fa;
    margin-left: 80%;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    border: none;
    width: 170px;
    height: 55px;
    border-radius: 5px;
}