{% load static %}
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Study Planner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'delete_class.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ user.name }}'s Classes</h1>
    </div>
    <ul>
        {% for class in classes %}
            <input type="checkbox" name="agree" value="yes">
            <div class="class_list_info">
                <strong>{{ class.class_name }}</strong> - 
                Type: {{ class.class_type }} |
                Time: {{ class.class_time }} |
                Grade: {{ class.class_grade }} |
                Create Grade: {{ class.create_grade }} |
                Created at: {{ class.created_at }}
            </div>
        {% empty %}
            <li>No classes found.</li>
        {% endfor %}
    </ul>
</body>
</html>