{% load static %}
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Grade Summary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'grade_summary.css' %}">
</head>

<body>
    <div class="main_layer">
        <h1>📚{{ user_name }}님의 학점계산하기!</h1>
        <div class="container">

            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }} 
                <table>
                    <tr>
                        <th>과목명</th>
                        <th>성적</th>
                    </tr>
                    {% for form in formset %}   
                        <tr>
                            <td>{{ form.instance.class_name }}</td>
                            <td>
                                {{ form.create_grade }}
                                {{ form.class_id.as_hidden }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <button type="submit">저장하기</button>
            </form>

            <p class="avg-text">
                <span class="avg-label">전체 평균:</span>
                <strong class="avg-value">{{ avg_all }}</strong>
            </p>
            <p class="avg-text">
                <span class="avg-label">전공 평균:</span>
                <strong class="avg-value">{{ avg_major }}</strong>
            </p>

            {% if avg_all|floatformat:"1" <= "3.0" %}
            <button onclick="openPopup('popup-bad')">성적 피드백 보기</button>
            <div class="popup-overlay" id="popup-bad" style="display: none;">
                <div class="popup-content">
                    <img src="{% static 'images/무한도전.jpg' %}" alt="빠밤!" class="popup-image">
                    <p class="popup-text">더 노력하세요!</p>
                    <button class="close-btn" onclick="closePopup('popup-bad')">닫기</button>
                </div>
            </div>
            {% endif %}

            {% if avg_all|floatformat:"1" >= "4.0" %}
            <button onclick="openPopup('popup-good')">성적 피드백 보기</button>
            <div class="popup-overlay" id="popup-good" style="display: none;">
                <div class="popup-content">
                    <img src="{% static 'images/칭찬이미지.jfif' %}" alt="빠밤!" class="popup-image">
                    <p class="popup-text">최고!</p>
                    <button class="close-btn" onclick="closePopup('popup-good')">닫기</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        function openPopup(popupId) {
            const popup = document.getElementById(popupId);
            if (popup) {
                popup.style.display = "flex";
            }
        }

        function closePopup(popupId) {
            const popup = document.getElementById(popupId);
            if (popup) {
                popup.style.display = "none";
            }
        }
    </script>
</body>
</html>
